nav{
   
    justify-content: space-between;
}
.container{
    margin-top:100px;
}
.flex-div{
    display: flex;
}
.logo{
    height: 60px;
    width:60px;
    border-radius: 50%;
} 
.poster{
    border-radius: 10px;
}
.poster:hover{
    border-radius: 0;
    transition: 0.5s;
}
.desc{
    color:white
}

.form-control{
    width: 600px;
    border-radius: 50px;
    border: solid 1px #676464ab;
    padding: 10px 2%;
  
}
.form-control placeholder{
    color:white
}
.microphone{
    height:30px;
    width: 30px;
    background-color:#676464ab;
    padding: 5px;
    padding-right: -2px;
    border-radius: 50%;
}
.notification{
    height:25px;
  
}
.profile{
  
    width: 30px;
    border-radius: 50%;
}
.create{
    width: 25px;}
.btn-outline-dark{
    margin-left: 8px;
}
.search{
    width: 25px;
    margin-left: 150px;
}
form:hover{
    box-shadow: 0 0 8px 1px rgb(126, 171, 228);
}
.form-control input{
    width: 400px;
    border: 0;
    outline: 0;
}
.menu{
    margin-top: 70px;
   align-items: center;
   position: fixed;
   height: 100%;
   width: 120px;
 
}
.home{
    height: 30px;

}
.subscription{
    height: 35px;
}
.shorts{
    height: 55px;
}
.you{
    height: 30px;
}
.row{
    margin-left:100px;
}